# Quantitative Momentum Strategy


## Library Imports

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

In [3]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

In [4]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  138.57             0.0900957                     N/A
1      AAL   17.16             -0.260787                     N/A
2      AAP  226.07              0.176976                     N/A
3     AAPL  175.51              0.472487                     N/A
4     ABBV  163.98              0.621249                     N/A
..     ...     ...                   ...                     ...
497    YUM  120.67              0.125441                     N/A
498    ZBH  127.43             -0.225442                     N/A
499   ZBRA  441.25             -0.111955                     N/A
500   ZION   71.95              0.310288                     N/A
501    ZTS  193.16              0.221847                     N/A

[502 rows x 4 columns]

In [5]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker   Price One-Year Price Return Number of Shares to Buy
0      LB   82.47               2.35296                     N/A
1     DVN   63.40               1.94049                     N/A
2      CF  113.71               1.45213                     N/A
3     MRO   27.18               1.42969                     N/A
4     MOS   71.38               1.32403                     N/A
5     APA   43.36               1.23782                     N/A
6    NVDA  279.28               1.18573                     N/A
7     OXY   59.05               1.15725                     N/A
8     NUE  164.37               1.04178                     N/A
9     COP  108.70               1.03757                     N/A
10   MCHP   78.43                1.0185                     N/A
11   FANG  151.60               1.00477                     N/A
12   FTNT  337.86              0.836346                     N/A
13    HAL   39.10              0.800011                     N/A
14    BKR   39.01              0.795914                     N/A
15   ANET  140.90              0.785416                     N/A
16    EOG  127.81              0.768711                     N/A
17    ADM   94.37              0.676446                     N/A
18    CVX  171.96              0.665234                     N/A
19    PXD  261.29              0.658571                     N/A
20    MCK  314.96              0.634393                     N/A
21   ABBV  163.98              0.621249                     N/A
22     IT  303.40              0.618386                     N/A
23    FCX   53.33              0.616905                     N/A
24    LLY  300.68              0.604963                     N/A
25    VAR  184.26              0.595881                     N/A
26   COST  558.10              0.592946                     N/A
27    PSA  379.00              0.585071                     N/A
28    SLB   43.89              0.577887                     N/A
29     KR   57.00              0.572319                     N/A
30    XOM   88.70              0.567515                     N/A
31    AMD  120.60              0.559706                     N/A
32    MPC   82.53              0.556753                     N/A
33    HES  112.46              0.552831                     N/A
34    RHI  121.32              0.550566                     N/A
35    EXR  198.65              0.548646                     N/A
36    PWR  135.90              0.545339                     N/A
37    EXC   46.65              0.533777                     N/A
38    KSU  298.45              0.525525                     N/A
39    OKE   72.33              0.522274                     N/A
40    PFE   54.26                0.5139                     N/A
41    PLD  159.04              0.510247                     N/A
42    IRM   54.94              0.506445                     N/A
43    SEE   69.94              0.503822                     N/A
44    CVS  113.68              0.482851                     N/A
45    WMB   34.66              0.480713                     N/A
46   AAPL  175.51              0.472487                     N/A
47    NOC  479.02              0.469479                     N/A
48    ALB  224.14               0.46736                     N/A
49    WST  424.39              0.465602                     N/A
50   JNPR   37.19              0.452446                     N/A

In [6]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:20000
20000

In [7]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

   Ticker   Price One-Year Price Return Number of Shares to Buy
0      LB   82.47               2.35296                       4
1     DVN   63.40               1.94049                       6
2      CF  113.71               1.45213                       3
3     MRO   27.18               1.42969                      14
4     MOS   71.38               1.32403                       5
5     APA   43.36               1.23782                       9
6    NVDA  279.28               1.18573                       1
7     OXY   59.05               1.15725                       6
8     NUE  164.37               1.04178                       2
9     COP  108.70               1.03757                       3
10   MCHP   78.43                1.0185                       5
11   FANG  151.60               1.00477                       2
12   FTNT  337.86              0.836346                       1
13    HAL   39.10              0.800011                      10
14    BKR   39.01              0.795914                      10
15   ANET  140.90              0.785416                       2
16    EOG  127.81              0.768711                       3
17    ADM   94.37              0.676446                       4
18    CVX  171.96              0.665234                       2
19    PXD  261.29              0.658571                       1
20    MCK  314.96              0.634393                       1
21   ABBV  163.98              0.621249                       2
22     IT  303.40              0.618386                       1
23    FCX   53.33              0.616905                       7
24    LLY  300.68              0.604963                       1
25    VAR  184.26              0.595881                       2
26   COST  558.10              0.592946                       0
27    PSA  379.00              0.585071                       1
28    SLB   43.89              0.577887                       8
29     KR   57.00              0.572319                       6
30    XOM   88.70              0.567515                       4
31    AMD  120.60              0.559706                       3
32    MPC   82.53              0.556753                       4
33    HES  112.46              0.552831                       3
34    RHI  121.32              0.550566                       3
35    EXR  198.65              0.548646                       1
36    PWR  135.90              0.545339                       2
37    EXC   46.65              0.533777                       8
38    KSU  298.45              0.525525                       1
39    OKE   72.33              0.522274                       5
40    PFE   54.26                0.5139                       7
41    PLD  159.04              0.510247                       2
42    IRM   54.94              0.506445                       7
43    SEE   69.94              0.503822                       5
44    CVS  113.68              0.482851                       3
45    WMB   34.66              0.480713                      11
46   AAPL  175.51              0.472487                       2
47    NOC  479.02              0.469479                       0
48    ALB  224.14               0.46736                       1
49    WST  424.39              0.465602                       0
50   JNPR   37.19              0.452446                      10

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [9]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [11]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} Return Percentile' 
        hqm_dataframe.loc[row, percentile_col] = stats.percentileofscore(hqm_dataframe[change_col], hqm_dataframe.loc[row, change_col])/100

# Print each percentile score to make sure it was calculated properly
#for time_period in time_periods:
 #   print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [ ]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [ ]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:51]

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [ ]:
portfolio_input()

In [ ]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [ ]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [ ]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

As before, saving our Excel output is very easy:

In [ ]:
writer.save()